@import "../../styles/config";

.form_design {
  width: 100%;
  background-color: white;
  padding: 50px;
  border: 0;
  border-radius: 10px;

  .heading_design {
    text-align: center;
    // institution name design
    .institute_name {
      font-size: $text-subhead;
      font-weight: 800;
      color: $deep-green;
      margin: 0 0 10px 0;

      @media (min-width: 768px) {
        font-size: 28px;
      }

      @media (min-width: 1200px) {
        font-size: 30px;
      }
    }

    // institution name design
    .reg_no {
      font-size: $text-label;
      color: $deep-green;
      margin: 0;
    }

    .date_design {
      width: 150px;
      display: flex;
      justify-content: space-between;
      margin: auto;

      h1 {
        font-size: $text-label;
        color: $deep-green;
        margin: 0;
      }
    }

    .exam_title {
      font-size: $text-body;
      color: $medium-green;
      margin-bottom: 20px;
    }
  }

  form {
    .registration_section {
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      padding: 10px;
      gap: 20px;

      .user_info_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .field_design {
          //  background-color: red;
          label {
            display: block;
          }
          input {
            width: 100%;
            border: 2px solid #4ade80;
            border-radius: 3px;
            background-color: white;
            outline: none;
            padding: 10px 0;
          }
        }
      }

      .exam_info_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .field_design {
          label {
            display: block;
          }
          select {
            width: 100%;
            border: 2px solid #4ade80;
            border-radius: 3px;
            background-color: white;
            outline: none;
            padding: 9px 0;
          }
        }
      }

      .image_title {
        font-size: $text-body;
        font-weight: 500;
        margin: 0;
      }

      .sub_year_content {
        .delete_button {
          background-color: red;
          border: 0;
          border-radius: 5px;
          padding: 5px;
          color: white;
          margin-left: 5px;
          cursor: pointer;
        }
      }

      .addition_button {
        background-color: green;
          border: 0;
          border-radius: 5px;
          padding: 5px;
          color: white;
         margin-top: 5px;
          cursor: pointer;
      }

      .image_field_design {
        .image_label {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px dashed black;

          // margin-bottom: 20px;
          overflow: hidden;
          position: relative;

          .image_display {
            object-fit: cover;
            position: absolute;
          }

          .icon_size {
            font-size: 20px;
            color: #1da950;
          }
          span {
            font-size: 12px;
          }
        }

        .image_file {
          visibility: hidden;
        }
      }
    }
    // Submit button
    .button_section {
      width: 100%;
      display: flex;
      justify-content: center;
      .button_design {
        width: 126px;
        height: 32px;
        border: 0;
        border-radius: 5px;
        background-color: $deep-green;
        color: white;
        font-size: $text-body;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 50px;
        cursor: pointer;
      }
      .button_design:hover {
        background-color: $light-green;
        color: $deep-green;
        transition: 0.5s;
      }
    }
  }
}
