@import "../../styles/config";

.certificate_section {
  margin-top: 40px;
  // width: 100%;
  // padding: 20px;
  background-color: $brown-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;

  @media (min-width: 1024px) {
    margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  .title {
    font-size: $text-head;
    font-weight: 600;
    color: $deep-green;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 20px;
      margin-top: 50px;
    }
    @media (min-width: 1024px) {
      text-align: center;
    }
    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }

  .child_section {
    @media (max-width: 768px) {
      width: 100%;
    }
    position: relative;
    .image_section {
      width: 600px;
      height: 800px;
    }

    .student_info {
      width: 600px;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;

      .student_image {
        margin-top: 82px;
        margin-left: 448px;
        width: 90px;
        height: 90px;
        position: relative;
        overflow: hidden;
        // background-color: red;

        .image_set {
          width: 100%;
          object-fit: cover;
        }
      }

      .date_design {
        margin-left: 170px;
        margin-top: -8px;
        font-weight: 500;
      }
      .name_design {
        margin-left: 200px;
        margin-top: 5px;
        font-weight: 500;
      }
      .roll_design {
        margin-left: 150px;
        margin-top: 5px;
        font-weight: 500;
      }
      .father_name_design {
        margin-left: 200px;
        margin-top: 5px;
        font-weight: 500;
      }
      .mother_name_design {
        margin-left: 200px;
        margin-top: 5px;
        font-weight: 500;
      }
      .school_design {
        margin-left: 180px;
        margin-top: 5px;
        font-weight: 500;
      }

      .sub_year_section {
        margin-top: 90px;
        margin-left: -50px;
        .sub_year_field {
          font-weight: 500;
          display: flex;
          justify-content: center;

          .subject_design {
            // margin-left: 5px;
            margin-top: 15px;
          }
          .year_design {
            margin-left: 150px;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .download_button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: $deep-green;
    color: white;
    font-size: $text-body;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .download_button:hover {
    background-color: $light-green;
    color: $deep-green;
    transition: 0.5s;
  }
}
