@import "../../styles/config";

.news_display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 50px;

  // @media (min-width: 500px) {
  //   height: 350px;
  // }

  // @media (min-width: 768px) {
  //   height: 400px;
  // }

  .heading {
    font-size: $text-subhead;
    margin-top: 50px;
    font-family: "Bree Serif", serif;
    color: $deep-green;
    text-decoration: underline;
    @media (min-width: 768px) {
      font-size: 28px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }
  .news_contents {
    width: 100%;
    // height: 300px;
    display: grid;
    grid-template-columns: 1;
    margin: 20px 20px 50px;
    gap: 10px;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 2fr;
    }

    .news_left_section {
      width: 100%;
      background-color: $brown-color;
      border: 0;
      border-radius: 10px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
      position: relative;

      // Image display
      .image_section {
        width: 100%;
        height: 150px;
        position: relative;

        .image_design {
          object-fit: cover;
          border: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      // Details
      .info_section {
        width: 100%;
        padding-bottom: 20px;
        
        
        .status_section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          @media (min-width: 1024px) {
            padding: 20px;
          }

          // Duration
          .status_left {
            width: 80px;
            height: 30px;
            background-color: $deep-green;
            color: $brown-color;
            font-size: $text-body;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 30px;

            @media (min-width: 768px) {
              width: 100px;
              height: 35px;
            }
          }

          .status_right {
            display: flex;
            align-items: center;

            // time and views
            .extra_details {
              font-size: $text-label;
              font-weight: 400;
              margin-right: 5px;
              color: gray;

              @media (min-width: 500px) {
                $text-label: 14px;
              }
              @media (min-width: 1200px) {
                $text-label: 16px;
              }

              // Info share
              .icon_design {
                font-size: $text-body;
                font-weight: 400;
                margin-left: 10px;

                @media (min-width: 500px) {
                  $text-body: 16px;
                }
                @media (min-width: 1200px) {
                  $text-body: 18px;
                }
              }
            }
          }
        }

        .title {
          font-size: $text-subhead;
          color: $deep-green;
          padding: 0 10px;
          margin: 0;
          @media (min-width: 500px) {
            font-size: 24px;
            // padding: 0 10px;
          }
          @media (min-width: 1200px) {
            font-size: 28px;
            padding: 0 20px;
          }
        }

        .imp_date_section {
          // width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          padding: 3px 10px;
          
          @media (min-width: 1200px) {
            font-size: 20px;
            padding: 5px 20px;
          }

          .imp_date {
            font-size: 14px;
            font-weight: 600;
            margin: 0;

            //   @media (min-width: 500px) {
            //   font-size: 16px
            // }
            @media (min-width: 1200px) {
              font-size: 16px;
            }
          }
        }

        .description_content {
          font-size: 16px;
          padding: 0 10px;
          margin: 20px 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 200px;

          @media (min-width: 1200px) {
            padding: 20px;
            font-size: 18px;
          }
        }
        strong{
          display: block;
          padding: 0 10px;
          margin: 20px 0;

          @media (min-width: 1200px) {
            padding: 20px;
          }
        }

        .details_button {
          background-color: rgb(2, 119, 123);
          color: white;
          font-size: $text-body;
          text-decoration: none;
          border: 0;
          border-radius: 5px;
          padding: 5px 10px;
          // margin-left: 10px;
          cursor: pointer;
          position: absolute;
          left: 10px;
          bottom: 10px;

          @media (min-width: 1200px) {
            font-size: 18px;
            left: 20px;
          }         
        }

        .details_button:hover {
          background-color: rgb(2, 92, 95);
          transition: 0.5s ease;
        }
      }
    }
    
    
    .news_right_section {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

      .previous_news_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-green;
        min-height: 150px;
        position: relative;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);

        // Image display
        .image_section {
          width: 30%;
          height: 100%;
          position: relative;

          .image_design {
            object-fit: cover;
            border: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .info_section {
          width: 70%;
          padding: 10px;
          

          // Duration
          .status_left {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 70px;
            height: 25px;
            background-color: $deep-green;
            color: $brown-color;
            font-size: $text-label;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 30px;
            margin-bottom: 30px;

            @media (min-width: 768px) {
              width: 100px;
              height: 35px;
              padding: 0;
            }
            @media (min-width: 1024px) {
              padding: 0;
            }
          }

          // News title section
          .title {
            font-size: $text-body;
            color: $deep-green;
            padding: 5px 0;
            margin: 0;

            @media (min-width: 1200px) {
              font-size: 18px;
              // padding: 0 20px;
            }
          }

          // News details
          .status_section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .status_right {
              display: flex;
              gap: 10px;
              // time and views
              .extra_details {
                font-size: $text-label;
                font-weight: 400;
                color: gray;
                margin: 0;

                @media (min-width: 500px) {
                  $text-label: 14px;
                }
                @media (min-width: 1200px) {
                  $text-label: 16px;
                }
              }

              // Info share
              .icon_design {
                font-size: $text-body;
                font-weight: 400;
                margin-left: 10px;

                @media (min-width: 500px) {
                  $text-body: 16px;
                }
                @media (min-width: 1200px) {
                  $text-body: 18px;
                }
              }
            }
          }
        }
      }
    }
  }

  .load_more_button {
    background-color: $deep-green;
    color: $brown-color;
    padding: 10px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
  }

  .load_more_button:hover {
    background-color: rgb(7, 95, 7);
    transition: 0.25s ease;
  }
}
