@import "../../styles/config";

.banner_display{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: red;
    padding-top: 32px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }

}