@import "../../../../styles/config";

.schoolInfo_design {
  width: 970px;
  position: relative;
  padding: 20px;

  .heading {
    color: $deep-green;
    text-align: center;
    text-decoration: underline;
  }

  .school_table {
    height: 100%;

    .header_section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 40px;

      .pagination {
        width: 300px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        background-color: #f9fad1;
        padding-left: 10px;
        padding-right: 10px;
        border: 0 solid;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }

    .heading_field_design {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5px;
      border: 0px;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $medium-green;
      margin-top: 20px;

      @media (min-width: 576px) {
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 20px;
      }

      .single_heading {
        max-width: 114px;
        min-width: 114px;
        padding: 10px 2px;
        text-align: center;
        margin-bottom: 5px;
        border: 0;
        border-radius: 5px;
        font-weight: 600;
        color: white;
      }
    }

    .data_field_design {
      
      .activity_section {
        max-width: 110px;
        min-width: 110px;
        padding: 10px 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 10px;

        .update_button {
          color: white;
          border: 0;
          border-radius: 5px;
          background-color: $deep-green;
          font-size: 20px;
          font-weight: 800;
          padding: 4px;
          cursor: pointer;
        }

        .update_button:hover {
          background-color: rgba(2, 144, 2, 0.675);
        }
        .delete_button {
          color: white;
          border: 0;
          border-radius: 5px;
          background-color: red;
          font-size: 20px;
          font-weight: 800;
          padding: 4px;
          cursor: pointer;
        }

        .delete_button:hover {
          background-color: rgba(255, 44, 44, 0.859);
        }
      }
    }
  }

  .school_details {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fad1;
    border: 3px solid $deep-green;
    border-radius: 10px;
    padding: 25px;

    .heading_design {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      margin-bottom: 20px;

      .school_head {
        font-size: $text-body;
        color: $deep-green;
        font-style: italic;

        @media (min-width: 768px) {
          font-size: 20px;
        }
        @media (min-width: 1200px) {
          font-size: 25px;
        }
      }

      button {
        // width: 50px;
        border: 0;
        background-color: transparent;

        .button_design {
          font-size: 25px;
          color: $deep-green;
        }
      }
    }

    .school_name {
      font-size: $text-body;
      font-weight: 700;

      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }

    .school_code {
      font-size: 15px;
      margin-bottom: 20px;
      color: gray;
    }

    .info {
      font-size: $text-body;
      padding: 2px 0;
    }

    .status {
      font-size: $text-body;
      font-weight: 700;
      margin: 20px 0 10px 0;
      color: $deep-green;

      @media (min-width: 1200px) {
        font-size: 18px;
      }
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 3px;
    }

    .submit_button {
      background-color: $deep-green;
      color: $brown-color;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 3px 5px;
      margin-left: 5px;
    }
  }
}
