@import "../../../../styles/config";

.schoolInfo_design {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .school_table {
    height: 100%;
  }

  .school_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light-green;
    border: 1px solid $deep-green;
    border-radius: 5px;
  }
}
