@import "../../../../styles/config";

.admin_panel_design {
  padding: 10px;
  width: 700px;

  form{
    background-color: $light-green;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;

    label{
      font-size: 14px;
      margin-top: 10px;
    }

    .submit_button{
      margin-top: 10px;
      background-color: $deep-green;
      color: white;
      cursor: pointer;
    }
  }
}
