.container_design {
  
  // device: mobile
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  

  // device: small
  @media (min-width: 576px) {
    max-width: 540px;
    padding: 0 16px;    
  }


  // device: medium
  @media (min-width: 768px) {
    max-width: 720px;
    padding: 0 20px;
  }


  // device: large
  @media (min-width: 992px) {
    max-width: 960px;
    padding: 0 24px;
  }


  // device: extra large
  @media (min-width: 1200px) {
    max-width: 1140px;
    padding: 0 28px;
  }


  // device: extra extra large
  @media (min-width: 1400px) {
    max-width: 1320px;
    padding: 0 32px;
  }
}
