@import "../../../styles/config";

.currentstate_design {
  position: absolute;
  left: 16px;
  z-index: -1;
  margin: 10px;
  width: 100%;
  height: 100vh;
  background-color: white;
  border: 0;
  border-radius: 13px;
  
  @media (min-width: 576px) {
    // top: 16px;
    left: auto;
    right: 0px;
    width: calc(100% - 310px);
    height: 100vh;
  }

  // device: extra large
  @media (min-width: 1200px) {
    width: calc(100% - 380px);
    height: 100vh;
  }
}
