@import "../../../../styles/config";

.newresult_design {
  padding: 10px;
  width: 1850px;

  .heading {
    color: $deep-green;
    text-align: center;
    text-decoration: underline;
  }

  .pagination {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #f9fad1;
    padding-left: 10px;
    padding-right: 10px;
    border: 0 solid;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .heading_field_design {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    border: 0px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $medium-green;

    @media (min-width: 576px) {
      gap: 10px;
    }
    @media (min-width: 1400px) {
      gap: 20px;
    }

    .single_heading {
      max-width: 110px;
      min-width: 110px;
      padding: 10px 2px;
      text-align: center;
      margin-bottom: 5px;
      border: 0;
      border-radius: 5px;
      font-weight: 600;
      color: white;

    }
  }

  .info_field_design {
    border-bottom: 1px solid $deep-green;

    .result_status_container{
      max-width: 110px;
      min-width: 110px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items:center;

      .running_button{
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
      }
      .finish_button{
        background-color: $light-green;
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        cursor: not-allowed;
      }
    }
  }
}
