.registration_design{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

     @media (min-width: 768px) {
        padding: 150px 0 100px;
      }
}