@import "../../styles/config";

.certificate_section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media (min-width: 1024px) {
    margin-top: 60px;
  }

  .title {
    font-size: $text-subhead;
    font-weight: 600;
    color: $deep-green;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 40px;
    }
    @media (min-width: 1024px) {
      text-align: center;
    }
    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }

  .child_section {
    width: 310px;
    height: 200px;
    @media (min-width: 576px) {
      width: 500px;
      height: 300px;
    }
    @media (min-width: 768px) {
      width: 600px;
      height: 400px;
    }
    position: relative;

    // admit card image
    .image_section {
      width: 310px;
      height: 200px;
      @media (min-width: 576px) {
        width: 500px;
        height: 300px;
      }
      @media (min-width: 768px) {
        width: 600px;
        height: 400px;
      }
    }

    .student_info {
      position: absolute;
      top: 0;
      left: 0;

      // Mobile device
      .name_design {
        margin-left: 140px;
        margin-top: 80px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .father_name_design {
        margin-left: 120px;
        margin-top: 10px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .mother_name_design {
        margin-left: 60px;
        margin-top: 0px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .roll_design {
        margin-left: 220px;
        margin-top: 0px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .exam_date_design {
        margin-left: 180px;
        margin-top: 0px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .result_design1 {
        margin-left: 170px;
        margin-top: 0px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }
      .result_design2 {
        margin-left: 120px;
        margin-top: 0px;
        font-style: italic;
        font-size: 8px;
        font-weight: 500;
      }

      // Tablet device
      @media (min-width: 576px) {
        .name_design {
          margin-left: 222px;
          margin-top: 118px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
        .father_name_design {
          margin-left: 200px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
        .mother_name_design {
          margin-left: 90px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
        .roll_design {
          margin-left: 350px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
        .exam_date_design {
          margin-left: 300px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }       
        .result_design1 {
          margin-left: 280px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
        .result_design2 {
          margin-left: 190px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 500;
          font-size: 12px;
        }
      }

      // Laptop device
      @media (min-width: 768px) {
        .name_design {
          margin-left: 265px;
          margin-top: 156px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .father_name_design {
          margin-left: 230px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .mother_name_design {
          margin-left: 100px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .exam_date_design {
          margin-left: 350px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .roll_design {
          margin-left: 420px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .result_design1 {
          margin-left: 330px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
        .result_design2 {
          margin-left: 230px;
          margin-top: 0px;
          font-style: italic;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }

  .download_button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: $deep-green;
    color: white;
    font-size: $text-body;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .download_button:hover {
    background-color: $light-green;
    color: $deep-green;
    transition: 0.5s;
  }
}
