// Colour pallate
$deep-green: #4e944f;
$medium-green: #83bd75;
$light-green: #b4e197;
$brown-color: #e9efc0;

// Text pattern
$text-label: 13px;
$text-body: 16px;
$text-subhead: 18px;
$text-head: 18px;

// Text patter for Tablet
@media (min-width: 768px) {
  $text-label: 14px;
  $text-body: 16px;
  $text-subhead: 28px;
  $text-head: 32px;
}

// Text patter for Desktop
@media (min-width: 1200px) {
  $text-label: 16px;
  $text-body: 18px;
  $text-subhead: 30px;
  $text-head: 35px;
}

// Width for prompt: Mobile
$daynamic-width: 100%;

// Prompt width: Mobile landscape
@media (min-width: 576px) {
  $daynamic-width: 350px;
}

// Prompt width: Tablet
@media (min-width: 992px) {
  $daynamic-width: 400px;
}

// Prompt width: Desktop
@media (min-width: 1200px) {
  $daynamic-width: 450px;
}
