@import "/styles/config";
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $brown-color;

    .dashboard_design{
        width: 100%;
        display: flex;
        position: relative;
        
        .sidebar_icon{
            display: block;

             @media (min-width: 576px) {
                display: none;
             }

             .icon_design{
               font-size: 25px;
             }
        }


        .sidebar_open_property{
           
        }
    }
}