@import "/styles/config";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9efc0;

  // Admin Dashboard
  .dashboard_design {
    display: flex;
    position: relative;

    // Drawer Icon
    .sidebar_icon {
      display: block;
      width: 20px;
      height: 20px;

      @media (min-width: 576px) {
        display: none;
      }

      .icon_design {
        font-size: 25px;
      }
    }

    // Display Odd indexed field in result
    .odd_field_design {
      background-color: $brown-color;
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5px;

      @media (min-width: 576px) {
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 20px;
      }
      .text_details {
        width: 110px;
        padding: 10px 2px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: red;
      }

      .single_details {
        width: 110px;
background-color: red;
        padding: 10px 2px;
        text-align: center;
      }

      // New Result Page: Design for details
      .subject_year_design {
        display: flex;
        flex-direction: column;

        .subject_year_design_inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 5px;
          @media (min-width: 576px) {
            gap: 10px;
          }
          @media (min-width: 1400px) {
            gap: 20px;
          }

          .child_box_design {
            width: 110px;
            padding: 10px 2px;
            text-align: center;
          }
          .input_box_design {
            width: 50px;
            text-align: center;
            background-color: transparent;
          }
          .active_edit_button{
            background-color: $deep-green;
            color: $brown-color;
            border: 0;
            border-radius: 5px;
            padding: 3px 4px;    
            cursor: pointer;
          }
          .marks_edit_button {
            color: $deep-green;
            background-color: transparent;
            border: 0;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }

      .image_field {
        width: 110px;
        height: 50px;
        position: relative;

        .image_design {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .toogle_button_design {
        background-color: $deep-green;
        border: 0;
        border-radius: 5px;
        font-size: $text-body;
        text-align: center;
        color: $brown-color;
        font-weight: 600;
        cursor: pointer;
        padding: 2px 5px;
        margin-left: auto;
        margin-top: 5px;
        margin-right: 5px;
      }
    }

    // Display Even indexed field in result
    .even_field_design {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5px;
      background-color: #b5e197b9;

      @media (min-width: 576px) {
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 20px;
      }
      .text_details {
        width: 110px;
        padding: 10px 2px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .single_details {
        width: 110px;
        padding: 10px 2px;
        text-align: center;
      }

      .subject_year_design {
        display: flex;
        flex-direction: column;

        .subject_year_design_inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 5px;

          @media (min-width: 576px) {
            gap: 10px;
          }
          @media (min-width: 1400px) {
            gap: 20px;
          }

          .child_box_design {
            width: 110px;
            padding: 10px 2px;
            text-align: center;
          }
          .input_box_design {
            width: 40px;
            text-align: center;
            padding: 5px 2px;
          }
          .active_edit_button{
            background-color: $deep-green;
            color: $brown-color;
            cursor: pointer;
          }
          .marks_edit_button {
            color: $deep-green;
            background-color: transparent;
            border: 0;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }

      .image_field {
        width: 110px;
        height: 50px;
        position: relative;

        .image_design {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .toogle_button_design {
        background-color: $deep-green;
        border: 0;
        border-radius: 5px;
        font-size: $text-body;
        text-align: center;
        color: $brown-color;
        font-weight: 600;
        cursor: pointer;
        padding: 2px 5px;
        margin-left: auto;
        margin-top: 5px;
        margin-right: 5px;
      }
    }
  }
}
