@import "/styles/config";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9efc0;

  // Admin Dashboard
  .dashboard_design {
    display: flex;
    position: relative;

    // Drawer Icon
    .sidebar_icon {
      display: block;
      width: 20px;
      height: 20px;

      @media (min-width: 576px) {
        display: none;
      }

      .icon_design {
        font-size: 25px;
      }
    }

    // Display Odd indexed field in result
    .odd_field_design {
      width: 100%;
      background-color: #f9fad1;
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5px;

      @media (min-width: 576px) {
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 20px;
      }
      .text_details {
        max-width: 110px;
        min-width: 110px;
        padding: 20px 2px;
        text-align: center;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }

      .single_details {
        max-width: 110px;
        min-width: 110px;
        padding: 20px 2px;
        text-align: center;
      }

      // New Result Page: Design for details
      .subject_year_design {
        padding: 10px 2px;
        display: flex;
        flex-direction: column;

        .subject_year_design_inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 5px;
          @media (min-width: 576px) {
            gap: 10px;
          }
          @media (min-width: 1400px) {
            gap: 20px;
          }

          .child_box_design {
            max-width: 110px;
            min-width: 110px;
            padding: 10px 2px;
            text-align: center;
          }
          .input_box_design {
            max-width: 110px;
            min-width: 110px;
            padding: 10px 2px;
            text-align: center;
          }
          .active_edit_button {
             background-color: $deep-green;
            color: $brown-color;
            cursor: pointer;
          }
          .marks_edit_button {
            color: $deep-green;
            background-color: transparent;
            border: 0;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }

      .image_field {
        max-width: 110px;
        min-width: 110px;
        height: 50px;
        position: relative;

        .image_design {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .button_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

      .toogle_button_design {
        background-color: $deep-green;
        border: 0;
        border-radius: 5px;
        font-size: $text-body;
        text-align: center;
        color: $brown-color;
        font-weight: 600;
        cursor: pointer;
        padding: 2px 5px;     
        margin-top: 5px;       
      }
    }
    }

    // Display Even indexed field in result
    .even_field_design {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 5px;

      @media (min-width: 576px) {
        gap: 10px;
      }
      @media (min-width: 1400px) {
        gap: 20px;
      }
      .text_details {
        max-width: 110px;
        min-width: 110px;
        padding: 20px 2px;
        text-align: center;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }

      .single_details {
        max-width: 110px;
        min-width: 110px;
        padding: 20px 2px;
        text-align: center;
      }

      .subject_year_design {
        padding: 10px 2px;
        display: flex;
        flex-direction: column;

        .subject_year_design_inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
          gap: 5px;

          @media (min-width: 576px) {
            gap: 10px;
          }
          @media (min-width: 1400px) {
            gap: 20px;
          }

          .child_box_design {
            max-width: 110px;
            min-width: 110px;
            padding: 10px 2px;
            text-align: center;
          }
          .input_box_design {
            max-width: 110px;
            min-width: 110px;
            padding: 10px 2px;
            text-align: center;
            // padding: 5px 2px;
          }
          .active_edit_button {
            background-color: $deep-green;
            color: $brown-color;
            cursor: pointer;
          }
          .marks_edit_button {
            color: $deep-green;
            background-color: transparent;
            border: 0;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }

      .image_field {
        max-width: 110px;
        min-width: 110px;
        height: 50px;
        position: relative;

        .image_design {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .button_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .toogle_button_design {
          background-color: $deep-green;
          border: 0;
          border-radius: 5px;
          font-size: $text-body;
          text-align: center;
          color: $brown-color;
          font-weight: 600;
          cursor: pointer;
          padding: 2px 5px;
          margin-top: 10px;
        }
      }
    }
  }

  .user_page {
    width: 100%;
    min-height: 100vh;
  }

  .school_display {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .school_contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .school_title {
        font-size: $text-subhead;
        margin-top: 50px;
        font-family: "Bree Serif", serif;
        color: $deep-green;
        text-decoration: underline;
        @media (min-width: 768px) {
          font-size: 28px;
        }

        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
      .marquee_display {
        width: 160px;
        height: 80px;
        background-color: white;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: $medium-green;
        padding: 4px;
      }
    }
  }
}
